openapi: 3.0.0
info:
  title: TrueNAS RESTful API
  version: v2.0
servers:
- url: http://nas.local.geekspace.us/api/v2.0
security:
- basic: []
paths:
  /core/bulk:
    post:
      description: |-
        Will loop on a list of items for the given method, returning a list of
        dicts containing a result and error key.

        `description` contains format string for job progress (e.g. "Deleting snapshot {0[dataset]}@{0[name]}")

        Result will be the message returned by the method being called,
        or a string of an error, in which case the error key will be the
        exception
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_bulk'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/debug:
    post:
      description: |-
        Setup middlewared for remote debugging.

        engines:
          - PTVS: Python Visual Studio
          - PYDEV: Python Dev (Eclipse/PyCharm)
          - REMOTE_PDB: Remote vanilla PDB (over TCP sockets)

        options:
          - secret: password for PTVS
          - host: required for PYDEV, hostname of local computer (developer workstation)
          - local_path: required for PYDEV, path for middlewared source in local computer (e.g. /home/user/freenas/src/middlewared/middlewared
          - threaded: run debugger in a new thread instead of event loop
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_debug'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/download:
    post:
      description: |-
        Core helper to call a job marked for download.

        Returns the job id and the URL for download.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_download'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/get_events:
    get:
      description: Returns metadata for every possible event emitted from websocket
        server.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/get_jobs:
    get:
      description: Get the long running jobs.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/get_methods:
    post:
      description: |-
        Return methods metadata of every available service.

        `service` parameter is optional and filters the result for a single service.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_get_methods_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/get_services:
    get:
      description: Returns a list of all registered services.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/job_abort:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_job_abort_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/job_update:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_job_update'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/job_wait:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_job_wait_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/ping:
    get:
      description: |-
        Utility method which just returns "pong".
        Can be used to keep connection/authtoken alive instead of using
        "ping" protocol message.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/ping_remote:
    post:
      description: |-
        Method that will send an ICMP echo request to "hostname"
        and will wait up to "timeout" for a reply.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_ping_remote_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/resize_shell:
    post:
      description: Resize terminal session (/websocket/shell) to cols x rows
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core_resize_shell'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /core/sessions:
    get:
      description: Get currently open websocket sessions.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - core
  /acme/dns/authenticator:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
    post:
      description: |+
        Create a DNS Authenticator

        Create a specific DNS Authenticator containing required authentication details for the said
        provider to successfully connect with it

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acme_dns_authenticator_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
  /acme/dns/authenticator/id/{id}:
    delete:
      description: |+
        Delete DNS Authenticator of `id`

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
    put:
      description: |+
        Update DNS Authenticator of `id`

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acme_dns_authenticator_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
  /acme/dns/authenticator/authenticator_schemas:
    get:
      description: |-
        Get the schemas for all DNS providers we support for ACME DNS Challenge and the respective attributes
        required for connecting to them while validating a DNS Challenge
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - acme.dns.authenticator
  /activedirectory:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
    put:
      description: "Update active directory configuration.\n`domainname` full DNS\
        \ domain name of the Active Directory domain.\n\n`bindname` username used\
        \ to perform the intial domain join.\n\n`bindpw` password used to perform\
        \ the initial domain join. User-\nprovided credentials are used to obtain\
        \ a kerberos ticket, which\nis used to perform the actual domain join.\n\n\
        `verbose_logging` increase logging during the domain join process.\n\n`use_default_domain`\
        \ controls whether domain users and groups have\nthe pre-windows 2000 domain\
        \ name prepended to the user account. When\nenabled, the user appears as \"\
        administrator\" rather than\n\"EXAMPLE\administrator\"\n\n`allow_trusted_doms`\
        \ enable support for trusted domains. If this\nparameter is enabled, then\
        \ separate idmap backends _must_ be configured\nfor each trusted domain, and\
        \ the idmap cache should be cleared.\n\n`allow_dns_updates` during the domain\
        \ join process, automatically\ngenerate DNS entries in the AD domain for the\
        \ NAS. If this is disabled,\nthen a domain administrator must manually add\
        \ appropriate DNS entries\nfor the NAS. This parameter is recommended for\
        \ TrueNAS HA servers.\n\n`disable_freenas_cache` disables active caching of\
        \ AD users and groups.\nWhen disabled, only users cached in winbind's internal\
        \ cache are\nvisible in GUI dropdowns. Disabling active caching is recommended\n\
        in environments with a large amount of users.\n\n`site` AD site of which the\
        \ NAS is a member. This parameter is auto-\ndetected during the domain join\
        \ process. If no AD site is configured\nfor the subnet in which the NAS is\
        \ configured, then this parameter\nappears as 'Default-First-Site-Name'. Auto-detection\
        \ is only performed\nduring the initial domain join.\n\n`kerberos_realm` in\
        \ which the server is located. This parameter is\nautomatically populated\
        \ during the initial domain join. If the NAS has\nan AD site configured and\
        \ that site has multiple kerberos servers, then\nthe kerberos realm is automatically\
        \ updated with a site-specific\nconfiguration to use those servers. Auto-detection\
        \ is only performed\nduring initial domain join.\n\n`kerberos_principal` kerberos\
        \ principal to use for AD-related\noperations outside of Samba. After intial\
        \ domain join, this field is\nupdated with the kerberos principal associated\
        \ with the AD machine\naccount for the NAS.\n\n`nss_info` controls how Winbind\
        \ retrieves Name Service Information to\nconstruct a user's home directory\
        \ and login shell. This parameter\nis only effective if the Active Directory\
        \ Domain Controller supports\nthe Microsoft Services for Unix (SFU) LDAP schema.\n\
        \n`timeout` timeout value for winbind-related operations. This value may\n\
        need to be increased in  environments with high latencies for\ncommunications\
        \ with domain controllers or a large number of domain\ncontrollers. Lowering\
        \ the value may cause status checks to fail.\n\n`dns_timeout` timeout value\
        \ for DNS queries during the initial domain\njoin. This value is also set\
        \ as the NETWORK_TIMEOUT in the ldap config\nfile.\n\n`createcomputer` Active\
        \ Directory Organizational Unit in which new\ncomputer accounts are created.\n\
        \nThe OU string is read from top to bottom without RDNs. Slashes (\"/\")\n\
        are used as delimiters, like `Computers/Servers/NAS`. The backslash\n(\"\\\
        \") is used to escape characters but not as a separator. Backslashes\nare\
        \ interpreted at multiple levels and might require doubling or even\nquadrupling\
        \ to take effect.\n\nWhen this field is blank, new computer accounts are created\
        \ in the\nActive Directory default OU.\n\nThe Active Directory service is\
        \ started after a configuration\nupdate if the service was initially disabled,\
        \ and the updated\nconfiguration sets `enable` to `True`. The Active Directory\n\
        service is stopped if `enable` is changed to `False`. If the\nconfiguration\
        \ is updated, but the initial `enable` state is `True`, and\nremains unchanged,\
        \ then the samba server is only restarted.\n\nDuring the domain join, a kerberos\
        \ keytab for the newly-created AD\nmachine account is generated. It is used\
        \ for all future\nLDAP / AD interaction and the user-provided credentials\
        \ are removed."
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activedirectory_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/change_trust_account_pw:
    get:
      description: |-
        Force an update of the AD machine account password. This can be used to
        refresh the Kerberos principals in the server's system keytab.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/domain_info:
    get:
      description: |-
        Returns the following information about the currently joined domain:

        `LDAP server` IP address of current LDAP server to which TrueNAS is connected.

        `LDAP server name` DNS name of LDAP server to which TrueNAS is connected

        `Realm` Kerberos realm

        `LDAP port`

        `Server time` timestamp.

        `KDC server` Kerberos KDC to which TrueNAS is connected

        `Server time offset` current time offset from DC.

        `Last machine account password change`. timestamp
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/get_spn_list:
    get:
      description: |-
        Return list of kerberos SPN entries registered for the server's Active
        Directory computer account. This may not reflect the state of the
        server's current kerberos keytab.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/get_state:
    get:
      description: |-
        Wrapper function for 'directoryservices.get_state'. Returns only the state of the
        Active Directory service.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/leave:
    post:
      description: |-
        Leave Active Directory domain. This will remove computer
        object from AD and clear relevant configuration data from
        the NAS.
        This requires credentials for appropriately-privileged user.
        Credentials are used to obtain a kerberos ticket, which is
        used to perform the actual removal from the domain.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activedirectory_leave_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/nss_info_choices:
    get:
      description: Returns list of available LDAP schema choices.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /activedirectory/started:
    get:
      description: |-
        Issue a no-effect command to our DC. This checks if our secure channel connection to our
        domain controller is still alive. It has much less impact than wbinfo -t.
        Default winbind request timeout is 60 seconds, and can be adjusted by the smb4.conf parameter
        'winbind request timeout ='
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - activedirectory
  /afp:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - afp
    put:
      description: |-
        Update AFP service settings.

        `bindip` is a list of IPs to bind AFP to. Leave blank (empty list) to bind to all
        available IPs.

        `map_acls` defines how to map the effective permissions of authenticated users.
        RIGHTS - Unix-style permissions
        MODE - ACLs
        NONE - Do not map

        `chmod_request` defines advanced permission control that deals with ACLs.
        PRESERVE - Preserve ZFS ACEs for named users and groups or POSIX ACL group mask
        SIMPLE - Change permission as requested without any extra steps
        IGNORE - Permission change requests are ignored
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/afp_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - afp
  /afp/bindip_choices:
    get:
      description: List of valid choices for IP addresses to which to bind the AFP
        service.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - afp
  /alert/dismiss:
    post:
      description: Dismiss `id` alert.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alert_dismiss_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alert
  /alert/list:
    get:
      description: List all types of alerts including active/dismissed currently in
        the system.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alert
  /alert/list_categories:
    get:
      description: List all types of alerts which the system can issue.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alert
  /alert/list_policies:
    get:
      description: List all alert policies which indicate the frequency of the alerts.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alert
  /alert/restore:
    post:
      description: Restore `id` alert which had been dismissed.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alert_restore_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alert
  /alertclasses:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertclasses
    put:
      description: Update default Alert settings.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alertclasses_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertclasses
  /alertservice:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
    post:
      description: |+
        Create an Alert Service of specified `type`.

        If `enabled`, it sends alerts to the configured `type` of Alert Service.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alertservice_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
  /alertservice/id/{id}:
    delete:
      description: Delete Alert Service of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
    put:
      description: Update Alert Service of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alertservice_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
  /alertservice/list_types:
    get:
      description: List all types of supported Alert services which can be configured
        with the system.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
  /alertservice/test:
    post:
      description: |+
        Send a test alert using `type` of Alert Service.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alertservice_test_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - alertservice
  /api_key:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - api_key
    post:
      description: |-
        Creates API Key.

        `name` is a user-readable name for key.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_key_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - api_key
  /api_key/id/{id}:
    delete:
      description: Delete API Key `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - api_key
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - api_key
    put:
      description: |-
        Update API Key `id`.

        Specify `reset: true` to reset this API Key.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_key_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - api_key
  /auth/check_user:
    post:
      description: Verify username and password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_check_user'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth
  /auth/generate_token:
    post:
      description: |-
        Generate a token to be used for authentication.

        `ttl` stands for Time To Live, in seconds. The token will be invalidated if the connection
        has been inactive for a time greater than this.

        `attrs` is a general purpose object/dictionary to hold information about the token.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_generate_token'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth
  /auth/sessions:
    get:
      description: |-
        Returns list of active auth sessions.

        Example of return value:

        [
            {
                "id": "NyhB1J5vjPjIV82yZ6caU12HLA1boDJcZNWuVQM4hQWuiyUWMGZTz2ElDp7Yk87d",
                "origin": "192.168.0.3:40392",
                "credentials": "TOKEN",
                "internal": False,
                "created_at": {"$date": 1545842426070}
            }
        ]

        `credentials` can be `UNIX_SOCKET`, `ROOT_TCP_SOCKET`, `TRUENAS_NODE`, `LOGIN_PASSWORD` or `TOKEN`,
        depending on what authentication method was used.

        If you want to exclude all internal connections from the list, call this method with following arguments:

        [
            [
                ["internal", "=", True]
            ]
        ]
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth
  /auth/two_factor_auth:
    get:
      description: Returns true if two factor authorization is required for authorizing
        user's login.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth
  /auth/twofactor:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth.twofactor
    put:
      description: |-
        `otp_digits` represents number of allowed digits in the OTP.

        `window` extends the validity to `window` many counter ticks before and after the current one.

        `interval` is time duration in seconds specifying OTP expiration time from it's creation time.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_twofactor_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth.twofactor
  /auth/twofactor/provisioning_uri:
    get:
      description: |-
        Returns the provisioning URI for the OTP. This can then be encoded in a QR Code and used to
        provision an OTP app like Google Authenticator.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth.twofactor
  /auth/twofactor/renew_secret:
    get:
      description: Generates a new secret for Two Factor Authentication. Returns boolean
        true on success.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth.twofactor
  /auth/twofactor/verify:
    post:
      description: Returns boolean true if provided `token` is successfully authenticated.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_twofactor_verify_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - auth.twofactor
  /boot/attach:
    post:
      description: |-
        Attach a disk to the boot pool, turning a stripe into a mirror.

        `expand` option will determine whether the new disk partition will be
                 the maximum available or the same size as the current disk.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boot_attach'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/detach:
    post:
      description: Detach given `dev` from boot pool.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boot_detach_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/get_disks:
    get:
      description: Returns disks of the boot pool.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/get_scrub_interval:
    get:
      description: Get Automatic Scrub Interval value in days.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/get_state:
    get:
      description: Returns the current state of the boot pool, including all vdevs,
        properties and datasets.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/replace:
    post:
      description: Replace device `label` on boot pool with `dev`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boot_replace'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/scrub:
    get:
      description: Scrub on boot pool.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /boot/set_scrub_interval:
    post:
      description: Set Automatic Scrub Interval value in days.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boot_set_scrub_interval_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - boot
  /bootenv:
    get:
      description: Query all Boot Environments with `query-filters` and `query-options`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
    post:
      description: |-
        Create a new boot environment using `name`.

        If a new boot environment is desired which is a clone of another boot environment, `source` can be passed.
        Then, a new boot environment of `name` is created using boot environment `source` by cloning it.

        Ensure that `name` and `source` are valid boot environment names.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bootenv_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
  /bootenv/id/{id}:
    delete:
      description: Delete `id` boot environment. This removes the clone from the system.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
    get:
      description: Query all Boot Environments with `query-filters` and `query-options`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
    put:
      description: Update `id` boot environment name with a new provided valid `name`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bootenv_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
  /bootenv/id/{id}/activate:
    post:
      description: Activates boot environment `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bootenv_activate'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
  /bootenv/id/{id}/set_attribute:
    post:
      description: |-
        Sets attributes boot environment `id`.

        Currently only `keep` attribute is allowed.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bootenv_set_attribute_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - bootenv
  /certificate:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
    post:
      description: |+
        Create a new Certificate

        Certificates are classified under following types and the necessary keywords to be passed
        for `create_type` attribute to create the respective type of certificate

        1) Internal Certificate                 -  CERTIFICATE_CREATE_INTERNAL

        2) Imported Certificate                 -  CERTIFICATE_CREATE_IMPORTED

        3) Certificate Signing Request          -  CERTIFICATE_CREATE_CSR

        4) Imported Certificate Signing Request -  CERTIFICATE_CREATE_IMPORTED_CSR

        5) ACME Certificate                     -  CERTIFICATE_CREATE_ACME

        By default, created certs use RSA keys. If an Elliptic Curve Key is desired, it can be specified with the
        `key_type` attribute. If the `ec_curve` attribute is not specified for the Elliptic Curve Key, then default to
        using "BrainpoolP384R1" curve.

        A type is selected by the Certificate Service based on `create_type`. The rest of the values in `data` are
        validated accordingly and finally a certificate is made based on the selected type.

        `cert_extensions` can be specified to set X509v3 extensions.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificate_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/id/{id}:
    delete:
      description: |+
        Delete certificate of `id`.

        If the certificate is an ACME based certificate, certificate service will try to
        revoke the certificate by updating it's status with the ACME server, if it fails an exception is raised
        and the certificate is not deleted from the system. However, if `force` is set to True, certificate is deleted
        from the system even if some error occurred while revoking the certificate with the ACME Server

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificate_delete_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
    put:
      description: |+
        Update certificate of `id`

        Only name and revoked attribute can be updated.

        When `revoked` is enabled, the specified cert `id` is revoked and if it belongs to a CA chain which
        exists on this system, its serial number is added to the CA's certificate revocation list.

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificate_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/acme_server_choices:
    get:
      description: |-
        Dictionary of popular ACME Servers with their directory URI endpoints which we display automatically
        in UI
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/country_choices:
    get:
      description: Returns country choices for creating a certificate/csr.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/ec_curve_choices:
    get:
      description: Dictionary of supported EC curves.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/extended_key_usage_choices:
    get:
      description: Dictionary of choices for `ExtendedKeyUsage` extension which can
        be passed over to `usages` attribute.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/key_type_choices:
    get:
      description: Dictionary of supported key types for certificates.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificate/profiles:
    get:
      description: |-
        Returns a dictionary of predefined options for specific use cases i.e openvpn client/server
        configurations which can be used for creating certificates.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificate
  /certificateauthority:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
    post:
      description: |+
        Create a new Certificate Authority

        Certificate Authorities are classified under following types with the necessary keywords to be passed
        for `create_type` attribute to create the respective type of certificate authority

        1) Internal Certificate Authority       -  CA_CREATE_INTERNAL

        2) Imported Certificate Authority       -  CA_CREATE_IMPORTED

        3) Intermediate Certificate Authority   -  CA_CREATE_INTERMEDIATE

        Created certificate authorities use RSA keys by default. If an Elliptic Curve Key is desired, then it can be
        specified with the `key_type` attribute. If the `ec_curve` attribute is not specified for the Elliptic
        Curve Key, default to using "BrainpoolP384R1" curve.

        A type is selected by the Certificate Authority Service based on `create_type`. The rest of the values
        are validated accordingly and finally a certificate is made based on the selected type.

        `cert_extensions` can be specified to set X509v3 extensions.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificateauthority_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
  /certificateauthority/id/{id}:
    delete:
      description: |+
        Delete a Certificate Authority of `id`

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
    put:
      description: |+
        Update Certificate Authority of `id`

        Only `name` and `revoked` attribute can be updated.

        If `revoked` is enabled, the CA and its complete chain is marked as revoked and added to the CA's
        certificate revocation list.

      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificateauthority_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
  /certificateauthority/ca_sign_csr:
    post:
      description: |+
        Sign CSR by Certificate Authority of `ca_id`

        Sign CSR's and generate a certificate from it. `ca_id` provides which CA is to be used for signing
        a CSR of `csr_cert_id` which exists in the system

        `cert_extensions` can be specified if specific extensions are to be set in the newly signed certificate.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificateauthority_ca_sign_csr_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
  /certificateauthority/profiles:
    get:
      description: |-
        Returns a dictionary of predefined options for specific use cases i.e OpenVPN certificate authority
        configurations which can be used for creating certificate authorities.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - certificateauthority
  /cloudsync:
    get:
      description: Query all Cloud Sync Tasks with `query-filters` and `query-options`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
    post:
      description: |+
        Creates a new cloud_sync entry.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/id/{id}:
    delete:
      description: Deletes cloud_sync entry `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
    get:
      description: Query all Cloud Sync Tasks with `query-filters` and `query-options`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
    put:
      description: Updates the cloud_sync entry `id` with `data`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/id/{id}/abort:
    post:
      description: Aborts cloud sync task.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_abort'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/common_task_schema:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/list_buckets:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_list_buckets_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/list_directory:
    post:
      description: |-
        List contents of a remote bucket / directory.

        If remote supports buckets, path is constructed by two keys "bucket"/"folder" in `attributes`.
        If remote does not support buckets, path is constructed using "folder" key only in `attributes`.
        "folder" is directory name and "bucket" is bucket name for remote.

        Path examples:

        S3 Service
        `bucketname/directory/name`

        Dropbox Service
        `directory/name`

        `credentials` is a valid id of a Cloud Sync Credential which will be used to connect to the provider.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_list_directory_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/onedrive_list_drives:
    post:
      description: |+
        Lists all available drives and their types for given Microsoft OneDrive credentials.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_onedrive_list_drives_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/providers:
    get:
      description: |-
        Returns a list of dictionaries of supported providers for Cloud Sync Tasks.

        `credentials_schema` is JSON schema for credentials attributes.

        `task_schema` is JSON schema for task attributes.

        `buckets` is a boolean value which is set to "true" if provider supports buckets.

        Example of a single provider:

        [
            {
                "name": "AMAZON_CLOUD_DRIVE",
                "title": "Amazon Cloud Drive",
                "credentials_schema": [
                    {
                        "property": "client_id",
                        "schema": {
                            "title": "Amazon Application Client ID",
                            "_required_": true,
                            "type": "string"
                        }
                    },
                    {
                        "property": "client_secret",
                        "schema": {
                            "title": "Application Key",
                            "_required_": true,
                            "type": "string"
                        }
                    }
                ],
                "credentials_oauth": null,
                "buckets": false,
                "bucket_title": "Bucket",
                "task_schema": []
            }
        ]
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/id/{id}/restore:
    post:
      description: Create the opposite of cloud sync task `id` (PULL if it was PUSH
        and vice versa).
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_restore_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/id/{id}/sync:
    post:
      description: Run the cloud_sync job `id`, syncing the local data to remote.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_sync_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/sync_onetime:
    post:
      description: Run cloud sync task without creating it.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_sync_onetime'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync
  /cloudsync/credentials:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
    post:
      description: |-
        Create Cloud Sync Credentials.

        `attributes` is a dictionary of valid values which will be used to authorize with the `provider`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_credentials_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
  /cloudsync/credentials/id/{id}:
    delete:
      description: Delete Cloud Sync Credentials of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
    put:
      description: Update Cloud Sync Credentials of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_credentials_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
  /cloudsync/credentials/verify:
    post:
      description: Verify if `attributes` provided for `provider` are authorized by
        the `provider`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cloudsync_credentials_verify_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cloudsync.credentials
  /config/reset:
    post:
      description: |-
        Reset database to configuration defaults.

        If `reboot` is true this job will reboot the system after its completed with a delay of 10
        seconds.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/config_reset_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - config
  /cronjob:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
    post:
      description: |+
        Create a new cron job.

        `stderr` and `stdout` are boolean values which if `true`, represent that we would like to suppress
        standard error / standard output respectively.

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cronjob_create_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
  /cronjob/id/{id}:
    delete:
      description: Delete cronjob of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
    put:
      description: Update cronjob of `id`.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cronjob_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
  /cronjob/run:
    post:
      description: Job to run cronjob task of `id`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cronjob_run'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - cronjob
  /device/get_info:
    post:
      description: Get info for SERIAL/DISK device types.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device_get_info_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - device
  /directoryservices/cache_refresh:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - directoryservices
  /directoryservices/get_state:
    get:
      description: |-
        `DISABLED` Directory Service is disabled.

        `FAULTED` Directory Service is enabled, but not HEALTHY. Review logs and generated alert
        messages to debug the issue causing the service to be in a FAULTED state.

        `LEAVING` Directory Service is in process of stopping.

        `JOINING` Directory Service is in process of starting.

        `HEALTHY` Directory Service is enabled, and last status check has passed.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - directoryservices
  /disk:
    get:
      description: |-
        Query disks.

        The following extra options are supported:

             include_expired: true - will also include expired disks (default: false)
             passwords: true - will not hide KMIP password for the disks (default: false)
             pools: true - will join pool name for each disk (default: false)
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/id/{id}:
    get:
      description: |-
        Query disks.

        The following extra options are supported:

             include_expired: true - will also include expired disks (default: false)
             passwords: true - will not hide KMIP password for the disks (default: false)
             pools: true - will join pool name for each disk (default: false)
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
    put:
      description: |-
        Update disk of `id`.

        If extra options need to be passed to SMART which we don't already support, they can be passed by
        `smartoptions`.

        `critical`, `informational` and `difference` are integer values on which alerts for SMART are configured
        if the disk temperature crosses the assigned threshold for each respective attribute.
        If they are set to null, then SMARTD config values are used as defaults.

        Email of log level LOG_CRIT is issued when disk temperature crosses `critical`.

        Email of log level LOG_INFO is issued when disk temperature crosses `informational`.

        If temperature of a disk changes by `difference` degree Celsius since the last report, SMART reports this.
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/get_encrypted:
    post:
      description: |-
        Get all geli providers

        It might be an entire disk or a partition of type freebsd-zfs.

        Before a geli encrypted pool can be imported, disks used in the pool should be decrypted
        and then pool import can proceed as desired. In that case `unused` can be passed as `true`, to find out
        which disks are geli encrypted but not being used by active ZFS pools.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_get_encrypted_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/get_unused:
    post:
      description: |-
        Helper method to get all disks that are not in use, either by the boot
        pool or the user pools.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_get_unused_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/label_to_dev:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/overprovision:
    post:
      description: Sets overprovision of disk `devname` to `size` gigabytes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_overprovision'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/sed_dev_name:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/smart_attributes:
    post:
      description: Returns S.M.A.R.T. attributes values for specified disk name.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_smart_attributes_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/spindown:
    post:
      description: |+
        Spin down disk by device name

      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_spindown_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/temperature:
    post:
      description: Returns temperature for device `name` using specified S.M.A.R.T.
        `powermode`.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_temperature'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/temperatures:
    post:
      description: |-
        Returns temperatures for a list of devices (runs in parallel).
        See `disk.temperature` documentation for more details.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_temperatures'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/unoverprovision:
    post:
      description: Removes overprovisioning of disk `devname`
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_unoverprovision_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /disk/wipe:
    post:
      description: |-
        Performs a wipe of a disk `dev`.
        It can be of the following modes:
          - QUICK: clean the first few and last megabytes of every partition and disk
          - FULL: write whole disk with zero's
          - FULL_RANDOM: write whole disk with random bytes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disk_wipe'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - disk
  /dns/query:
    get:
      description: Query Name Servers with `query-filters` and `query-options`.
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - dns
  /dyndns:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - dyndns
    put:
      description: |-
        Update dynamic dns service configuration.

        `period` indicates how often the IP is checked in seconds.

        `ssl` if set to true, makes sure that HTTPS is used for the connection to the server which updates the
        DNS record.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dyndns_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - dyndns
  /dyndns/provider_choices:
    get:
      description: List supported Dynamic DNS Service Providers.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - dyndns
  /ec2/Meta:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - ec2
  /ec2/instance_id:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - ec2
  /ec2/set_ntp_servers:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - ec2
  /ec2/set_root_ssh_public_key:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - ec2
  /ec2/setup:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - ec2
  /enclosure:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - enclosure
  /enclosure/id/{id}:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          default: []
          items: {}
          title: query-filters
          type: array
        style: simple
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - enclosure
    put:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enclosure_update_1'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - enclosure
  /enclosure/set_slot_status:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enclosure_set_slot_status'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - enclosure
  /failover:
    get:
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
    put:
      description: |-
        Update failover state.

        `disabled` When true indicates that HA will be disabled.
        `master`  Marks the particular node in the chassis as the master node.
                    The standby node will have the opposite value.

        `timeout` is the time to WAIT until a failover occurs when a network
            event occurs on an interface that is marked critical for failover AND
            HA is enabled and working appropriately.

            The default time to wait is 2 seconds.
            **NOTE**
                This setting does NOT effect the `disabled` or `master` parameters.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_update_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/call_remote:
    post:
      description: Call a method in the other node.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_call_remote'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/control:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_control'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/force_master:
    get:
      description: Force this controller to become MASTER.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/hardware:
    get:
      description: |-
        Returns the hardware type for an HA system.
          ECHOSTREAM
          ECHOWARP
          PUMA
          SBB
          ULTIMATE
          BHYVE
          MANUAL
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/in_progress:
    get:
      description: Returns True if there is an ongoing failover event.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/licensed:
    get:
      description: Checks whether this instance is licensed as a HA unit.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/node:
    get:
      description: |-
        Returns the slot position in the chassis that
        the controller is located.
          A - First node
          B - Seconde Node
          MANUAL - slot position in chassis could not be determined
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/status:
    get:
      description: |-
        Get the current HA status.

        Returns:
            MASTER
            BACKUP
            ELECTING
            IMPORTING
            ERROR
            SINGLE
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/sync_from_peer:
    get:
      description: Sync database and files from the other controller.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/sync_to_peer:
    post:
      description: |-
        Sync database and files to the other controller.

        `reboot` as true will reboot the other controller after syncing.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_sync_to_peer_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/unlock:
    post:
      description: |-
        Unlock pools in HA, syncing passphrase between controllers and forcing this controller
        to be MASTER importing the pools.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_unlock_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/upgrade:
    post:
      description: |-
        Upgrades both controllers.

        Files will be downloaded to the Active Controller and then transferred to the Standby
        Controller.

        Upgrade process will start concurrently on both nodes.

        Once both upgrades are applied, the Standby Controller will reboot. This job will wait for
        that job to complete before finalizing.

        A file can be uploaded to this end point. This end point is special, please refer to Jobs section in Websocket API documentation for details.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/failover_upgrade_0'
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/upgrade_finish:
    get:
      description: |-
        Perform the last stage of an HA upgrade.

        This will activate the new boot environment on the
        Standby Controller and reboot it.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /failover/upgrade_pending:
    get:
      description: |-
        Verify if HA upgrade is pending.

        `upgrade_finish` needs to be called to finish
        the HA upgrade process if this method returns true.
      parameters: []
      responses:
        "200":
          description: Operation succeeded
        "401":
          description: No authorization for this endpoint
      tags:
      - failover
  /fcport:
    get:
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
[...]
